@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.project-card {
  
  padding: 20px 10px;
  display: grid;
  grid-template-rows: repeat(3), auto;
  border-top: 1px solid $text-primary;
  max-width: 1200px;
  

  &__title {
    margin-bottom: 10px;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    
    :nth-child(1) {
      margin-right: 5px;
    }
  }

  &__banner {
    
    padding: 10px;
    width: 100%;
    max-height: 50vh;
    background-color: $color-accent;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;

    @include tablet {
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      padding: 10px;
    }

    

    &--img {
      width: 75%;
      margin-bottom: 10px;

      @include tablet {
        height: 95%;
        width: auto;
      }
    }

    &--desc {
      background-color: rgba($color-background, 0.1);
      color: $color-background;
      padding: 10px;
      width: 90%;

      @include tablet {
        height: 95%;
        width: 50%;
      }
    }

  }

  &__tech-stack {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    &--code {
      background-color: $color-secondary;
      padding: 10px 15px;

    }
  }
}
