@use "../../assets/styles/variables"as *;
@use "../../assets/styles/mixins" as *;

.about {
  height: 100vh;
  width: 100%;
  max-width: 1200px;
  padding: 20px 20px;
  background-color: $color-background;
  color: $text-primary;
  display: flex;
  flex-direction: column;

  &__intro {

    &--title {
      padding-bottom: 10px;
    }

    &--hello {
      margin-bottom: 20px;
      line-height: 1.2;
      font-size: 1.2rem;
  
      @include tablet {
        line-height: 1.5;
      }
    }
  }



  &__profile {
    border-top: 1px solid $text-primary;
    width: 100%;
    padding: 30px 10px;

    @include tablet {
      height: 50vh;
      max-height: 50vh;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 2fr 1fr;
      gap: 20px;
      
    }
    

    &--text {
      background-color: transparent;
      margin-top: 10px;
      line-height: 1.5rem;
    }

    &--photo {
      width: 100%;
      margin: 10px 0;

      @include tablet {
        height: auto;
        max-height: 95%;
        width: auto;
        max-width: 100%;
        margin-bottom: 0;
        grid-row: 1 / 3;
        grid-column: 2 / 3;
        justify-self: center;
      }
    }

    &--button {
      display: flex;
      justify-content: center;
      align-items: center;

      @mixin tablet {
        justify-self: center;
      }
    }

    &--cell {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
    }

  }
}