@use "../../assets/styles/variables"as *;
@use "../../assets/styles/mixins" as *;

.nav-mobile {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;

  &__links {

    background-color: $color-background;
    color: $text-primary;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    position: relative;
  
  
    @include tablet {
      
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      font-weight: 100;
      width: 50%;
    }

    li {
      text-decoration: none;
    }
  }



  &__cross {
  
    height: 50px;
    width: 50px;
    aspect-ratio: 1;
    position: fixed;
    top: 40px;
    right: 20px;
    background-color: transparent;
    cursor: pointer;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    

  
    &--line {
      width: 100%;
      height: 3px;
      background-color: $text-primary;
      transition: 0.3s all ease;

    }
    
    &--top {
      transform: rotate(45deg) translateY(80%);
      
    }

    &--middle {
      display: none;
    }

    &--bottom {
      transform: rotate(135deg) translateY(50%);
    }
  }

  
}
