@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.featured-projects {
  padding: 10px;

  @include desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    padding: 10px;
  }

  &__intro {
    padding: 10px;
    margin-bottom: 20px;
    line-height: 1.2;

    @include tablet {
      line-height: 1.5;
    }
  }
}
