@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;


.nav-desktop {


  display: none;
  width: 50%;
  height: 90%;

  @include tablet {
    display: block;
  }

  &__links {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $text-primary;
    background-color: transparent;
    list-style: none;
    padding: 10px 0;

    
    &--item {
      line-height: 10vh;
      border-bottom: 3px solid $color-background;
    }
    
    &--item:hover {
        color: $color-accent;
        border-bottom: 3px solid $color-accent;
      }
    }
    
}